In [85]:
#So based on data cleaning 1 im going to clean with the further column

In [86]:
#importing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

In [87]:
df=pd.read_csv(r"/content/application_train.csv")

More amount of inquiries from particular client denotes more financial instability

In [88]:
df['SUM_FLAG_DOCUMENTS'] = df['FLAG_DOCUMENT_2'] + df['FLAG_DOCUMENT_3'] + df['FLAG_DOCUMENT_4'] + df['FLAG_DOCUMENT_5'] + df['FLAG_DOCUMENT_6'] + df['FLAG_DOCUMENT_7'] + df['FLAG_DOCUMENT_8'] + df['FLAG_DOCUMENT_9'] + df['FLAG_DOCUMENT_10'] + df['FLAG_DOCUMENT_11'] + df['FLAG_DOCUMENT_12'] + df['FLAG_DOCUMENT_13'] + df['FLAG_DOCUMENT_14'] + df['FLAG_DOCUMENT_15'] +df['FLAG_DOCUMENT_16'] + df['FLAG_DOCUMENT_17'] + df['FLAG_DOCUMENT_18'] + df['FLAG_DOCUMENT_19'] + df['FLAG_DOCUMENT_20'] + df['FLAG_DOCUMENT_21']

In [89]:
columns_to_drop = ['FLAG_DOCUMENT_2', 'FLAG_DOCUMENT_3', 'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5', 'FLAG_DOCUMENT_6', 'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_8', 'FLAG_DOCUMENT_9', 'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11', 'FLAG_DOCUMENT_12', 'FLAG_DOCUMENT_13', 'FLAG_DOCUMENT_14', 'FLAG_DOCUMENT_15', 'FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_17', 'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20', 'FLAG_DOCUMENT_21']

df = df.drop(columns_to_drop, axis=1)

In [90]:
df = df.drop('SK_ID_CURR', axis=1)

In [91]:
columns_to_drop = ['EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3']
df = df.drop(columns_to_drop, axis=1)

In [92]:
columns_to_drop = ['FLAG_MOBIL', 'FLAG_EMP_PHONE', 'FLAG_WORK_PHONE','FLAG_CONT_MOBILE','FLAG_PHONE','FLAG_EMAIL','DAYS_BIRTH','OWN_CAR_AGE','CNT_CHILDREN','FLAG_OWN_CAR']
df = df.drop(columns_to_drop, axis=1)

In [93]:
df['DAYS_EMPLOYED'] = [-1 if x < -1 else (0 if x == 0 else 1) for x in df['DAYS_EMPLOYED']]

In [94]:
df['DAYS_REGISTRATION'] = [-1 if x < -1 else (0 if x == 0 else 1) for x in df['DAYS_REGISTRATION']]

In [95]:
df['REGION_POPULATION_RELATIVE'] = ["Urban" if x > 1 else ("Suburban" if 0.5 <x <1 else "rural") for x in df['REGION_POPULATION_RELATIVE']]

In [96]:
df['credit risk'] = df.apply(lambda row: 'Risk' if row['AMT_CREDIT'] > row['AMT_GOODS_PRICE'] else 'no risk' ,axis=1)

In [97]:
df['income & installements'] = df.apply(lambda row: 'no Risk' if row['AMT_INCOME_TOTAL'] > row['AMT_ANNUITY'] else 'Risk', axis=1)

In [98]:
columns_to_drop = ['NAME_EDUCATION_TYPE','AMT_CREDIT','AMT_GOODS_PRICE','AMT_INCOME_TOTAL', 'AMT_ANNUITY','WEEKDAY_APPR_PROCESS_START', 'HOUR_APPR_PROCESS_START','REG_CITY_NOT_LIVE_CITY','REG_CITY_NOT_WORK_CITY', 'LIVE_CITY_NOT_WORK_CITY' ]
df = df.drop(columns_to_drop, axis=1)

In [99]:

df['Risk_Level'] = df[['REG_REGION_NOT_LIVE_REGION', 'REG_REGION_NOT_WORK_REGION', 'LIVE_REGION_NOT_WORK_REGION']].sum(axis=1).apply(lambda x: 'No Risk' if x == 0 else 'Risk')

In [100]:
columns_to_drop = ['REG_REGION_NOT_LIVE_REGION','REG_REGION_NOT_WORK_REGION', 'LIVE_REGION_NOT_WORK_REGION']
df = df.drop(columns_to_drop, axis=1)

In [101]:
len(df.columns)

79

**Whatever we have executed before its by cleaning 1 .ipynb,we will deal with rest all columns seperately**

In [102]:
df.columns

Index(['TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_REALTY',
       'NAME_TYPE_SUITE', 'NAME_INCOME_TYPE', 'NAME_FAMILY_STATUS',
       'NAME_HOUSING_TYPE', 'REGION_POPULATION_RELATIVE', 'DAYS_EMPLOYED',
       'DAYS_REGISTRATION', 'DAYS_ID_PUBLISH', 'OCCUPATION_TYPE',
       'CNT_FAM_MEMBERS', 'REGION_RATING_CLIENT',
       'REGION_RATING_CLIENT_W_CITY', 'ORGANIZATION_TYPE', 'APARTMENTS_AVG',
       'BASEMENTAREA_AVG', 'YEARS_BEGINEXPLUATATION_AVG', 'YEARS_BUILD_AVG',
       'COMMONAREA_AVG', 'ELEVATORS_AVG', 'ENTRANCES_AVG', 'FLOORSMAX_AVG',
       'FLOORSMIN_AVG', 'LANDAREA_AVG', 'LIVINGAPARTMENTS_AVG',
       'LIVINGAREA_AVG', 'NONLIVINGAPARTMENTS_AVG', 'NONLIVINGAREA_AVG',
       'APARTMENTS_MODE', 'BASEMENTAREA_MODE', 'YEARS_BEGINEXPLUATATION_MODE',
       'YEARS_BUILD_MODE', 'COMMONAREA_MODE', 'ELEVATORS_MODE',
       'ENTRANCES_MODE', 'FLOORSMAX_MODE', 'FLOORSMIN_MODE', 'LANDAREA_MODE',
       'LIVINGAPARTMENTS_MODE', 'LIVINGAREA_MODE', 'NONLIVINGAPARTMENTS_MODE',
       'NONLIVINGAREA_MODE', 'APARTMENTS_MEDI', 'BASEMENTAREA_MEDI',
       'YEARS_BEGINEXPLUATATION_MEDI', 'YEARS_BUILD_MEDI', 'COMMONAREA_MEDI',
       'ELEVATORS_MEDI', 'ENTRANCES_MEDI', 'FLOORSMAX_MEDI', 'FLOORSMIN_MEDI',
       'LANDAREA_MEDI', 'LIVINGAPARTMENTS_MEDI', 'LIVINGAREA_MEDI',
       'NONLIVINGAPARTMENTS_MEDI', 'NONLIVINGAREA_MEDI', 'FONDKAPREMONT_MODE',
       'HOUSETYPE_MODE', 'TOTALAREA_MODE', 'WALLSMATERIAL_MODE',
       'EMERGENCYSTATE_MODE', 'OBS_30_CNT_SOCIAL_CIRCLE',
       'DEF_30_CNT_SOCIAL_CIRCLE', 'OBS_60_CNT_SOCIAL_CIRCLE',
       'DEF_60_CNT_SOCIAL_CIRCLE', 'DAYS_LAST_PHONE_CHANGE',
       'AMT_REQ_CREDIT_BUREAU_HOUR', 'AMT_REQ_CREDIT_BUREAU_DAY',
       'AMT_REQ_CREDIT_BUREAU_WEEK', 'AMT_REQ_CREDIT_BUREAU_MON',
       'AMT_REQ_CREDIT_BUREAU_QRT', 'AMT_REQ_CREDIT_BUREAU_YEAR',
       'SUM_FLAG_DOCUMENTS', 'credit risk', 'income & installements',
       'Risk_Level'],
      dtype='object')

In [103]:
#df['APARTMENTS_AVG']-its a measure of appartments to see whether client is in urban areas or rural areas anayways we used region type of column so we will not using this column further

In [104]:
#df['DAYS_LAST_PHONE_CHANGE']-having other feature to capture risk and no risk so I'll drop it

In [105]:
columns_to_drop = ['APARTMENTS_AVG','DAYS_LAST_PHONE_CHANGE']
df = df.drop(columns_to_drop, axis=1)

In [106]:
#we should drop the AMT_REQ_CREDIT features because of they have no impact to the target and this may cause model missleading.

In [107]:
columns_to_drop=['AMT_REQ_CREDIT_BUREAU_HOUR','AMT_REQ_CREDIT_BUREAU_DAY',
                'AMT_REQ_CREDIT_BUREAU_WEEK','AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT']
df=df.drop(columns_to_drop,axis=1)

In [108]:
df

,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_REALTY,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_EMPLOYED,...,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,AMT_REQ_CREDIT_BUREAU_YEAR,SUM_FLAG_DOCUMENTS,credit risk,income & installements,Risk_Level
0,1,Cash loans,M,Y,Unaccompanied,Working,Single / not married,House / apartment,rural,-1,...,No,2.0,2.0,2.0,2.0,1.0,1.0,Risk,no Risk,No Risk
1,0,Cash loans,F,N,Family,State servant,Married,House / apartment,rural,-1,...,No,1.0,0.0,1.0,0.0,0.0,1.0,Risk,no Risk,No Risk
2,0,Revolving loans,M,Y,Unaccompanied,Working,Single / not married,House / apartment,rural,-1,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,no risk,no Risk,No Risk
3,0,Cash loans,F,Y,Unaccompanied,Working,Civil marriage,House / apartment,rural,-1,...,NaN,2.0,0.0,2.0,0.0,NaN,1.0,Risk,no Risk,No Risk
4,0,Cash loans,M,Y,Unaccompanied,Working,Single / not married,House / apartment,rural,-1,...,NaN,0.0,0.0,0.0,0.0,0.0,1.0,no risk,no Risk,No Risk
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223279,0,Cash loans,M,Y,Family,Pensioner,Married,House / apartment,rural,1,...,NaN,3.0,0.0,3.0,0.0,1.0,1.0,Risk,no Risk,No Risk
223280,0,Cash loans,M,Y,Unaccompanied,State servant,Married,House / apartment,rural,-1,...,No,1.0,0.0,1.0,0.0,7.0,1.0,Risk,no Risk,No Risk
223281,0,Cash loans,F,N,Unaccompanied,State servant,Married,House / apartment,rural,-1,...,NaN,3.0,0.0,3.0,0.0,1.0,1.0,Risk,no Risk,No Risk
223282,0,Cash loans,M,N,Unaccompanied,Working,Married,House / apartment,rural,-1,...,NaN,0.0,0.0,0.0,0.0,0.0,1.0,Risk,no Risk,No Risk
223283,0,Cash loans,F,Y,Family,Working,Single / not married,House / apartment,rural,-1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Risk,no Risk,Risk

**Handling Null values**

In [110]:
null_percentage = (df.isnull().sum() / len(df)) * 100

# Create a DataFrame to display the results
null_percentage_df = pd.DataFrame({'Feature': null_percentage.index, 'Null Percentage': null_percentage.values})
null_percentage_df = null_percentage_df.sort_values(by='Null Percentage', ascending=False)

# Print the results
print(null_percentage_df)

                     Feature  Null Percentage
34           COMMONAREA_MODE        69.956647
48           COMMONAREA_MEDI        69.956647
20            COMMONAREA_AVG        69.956647
28   NONLIVINGAPARTMENTS_AVG        69.471167
56  NONLIVINGAPARTMENTS_MEDI        69.471167
..                       ...              ...
6         NAME_FAMILY_STATUS         0.000000
5           NAME_INCOME_TYPE         0.000000
3            FLAG_OWN_REALTY         0.000000
2                CODE_GENDER         0.000000
71                Risk_Level         0.000000

[72 rows x 2 columns]

In [113]:
columns_with_null = null_percentage[null_percentage > 0]
columns_with_null

NAME_TYPE_SUITE                  0.412031
OCCUPATION_TYPE                 31.410222
CNT_FAM_MEMBERS                  0.000896
ORGANIZATION_TYPE                0.000448
BASEMENTAREA_AVG                58.605184
YEARS_BEGINEXPLUATATION_AVG     48.826159
YEARS_BUILD_AVG                 66.535892
COMMONAREA_AVG                  69.956647
ELEVATORS_AVG                   53.360295
ENTRANCES_AVG                   50.411583
FLOORSMAX_AVG                   49.813242
FLOORSMIN_AVG                   67.894699
LANDAREA_AVG                    59.449849
LIVINGAPARTMENTS_AVG            68.416456
LIVINGAREA_AVG                  50.254832
NONLIVINGAPARTMENTS_AVG         69.471167
NONLIVINGAREA_AVG               55.250712
APARTMENTS_MODE                 50.826302
BASEMENTAREA_MODE               58.605184
YEARS_BEGINEXPLUATATION_MODE    48.826159
YEARS_BUILD_MODE                66.535892
COMMONAREA_MODE                 69.956647
ELEVATORS_MODE                  53.360295
ENTRANCES_MODE                  50.411583
FLOORSMAX_MODE                  49.813242
FLOORSMIN_MODE                  67.894699
LANDAREA_MODE                   59.449849
LIVINGAPARTMENTS_MODE           68.416456
LIVINGAREA_MODE                 50.254832
NONLIVINGAPARTMENTS_MODE        69.471167
NONLIVINGAREA_MODE              55.250712
APARTMENTS_MEDI                 50.826302
BASEMENTAREA_MEDI               58.605184
YEARS_BEGINEXPLUATATION_MEDI    48.826159
YEARS_BUILD_MEDI                66.535892
COMMONAREA_MEDI                 69.956647
ELEVATORS_MEDI                  53.360295
ENTRANCES_MEDI                  50.411583
FLOORSMAX_MEDI                  49.813242
FLOORSMIN_MEDI                  67.894699
LANDAREA_MEDI                   59.449849
LIVINGAPARTMENTS_MEDI           68.416456
LIVINGAREA_MEDI                 50.254832
NONLIVINGAPARTMENTS_MEDI        69.471167
NONLIVINGAREA_MEDI              55.250712
FONDKAPREMONT_MODE              68.431236
HOUSETYPE_MODE                  50.258415
TOTALAREA_MODE                  48.321420
WALLSMATERIAL_MODE              50.896616
EMERGENCYSTATE_MODE             47.440479
OBS_30_CNT_SOCIAL_CIRCLE         0.327834
DEF_30_CNT_SOCIAL_CIRCLE         0.327834
OBS_60_CNT_SOCIAL_CIRCLE         0.327834
DEF_60_CNT_SOCIAL_CIRCLE         0.327834
AMT_REQ_CREDIT_BUREAU_YEAR      13.512388
SUM_FLAG_DOCUMENTS               0.000448
dtype: float64

In [115]:
# Detect highly missing numeric features
application_train_numeric= df.select_dtypes(include=['number'])
missings=application_train_numeric.loc[:,application_train_numeric.isna().mean() >= 0.6]
highly_missing_features = missings.columns
missings.columns

Index(['YEARS_BUILD_AVG', 'COMMONAREA_AVG', 'FLOORSMIN_AVG',
       'LIVINGAPARTMENTS_AVG', 'NONLIVINGAPARTMENTS_AVG', 'YEARS_BUILD_MODE',
       'COMMONAREA_MODE', 'FLOORSMIN_MODE', 'LIVINGAPARTMENTS_MODE',
       'NONLIVINGAPARTMENTS_MODE', 'YEARS_BUILD_MEDI', 'COMMONAREA_MEDI',
       'FLOORSMIN_MEDI', 'LIVINGAPARTMENTS_MEDI', 'NONLIVINGAPARTMENTS_MEDI'],
      dtype='object')

In [116]:
#Remove the highly missing features,whose missing values greater than 60%
df=df.drop(highly_missing_features,axis=1)

In [119]:
numeric_columns = df.select_dtypes(include=['int64', 'float64'])

In [120]:
from sklearn.impute import SimpleImputer

numeric_imputer = SimpleImputer(strategy='median')
numeric_features_train = df.select_dtypes(include='number')
imputed_numeric_features_train = numeric_imputer.fit_transform(numeric_features_train)
imputed_numeric_features_train

array([[ 1., -1., -1., ...,  2.,  1.,  1.],
       [ 0., -1., -1., ...,  0.,  0.,  1.],
       [ 0., -1., -1., ...,  0.,  0.,  0.],
       ...,
       [ 0., -1., -1., ...,  0.,  1.,  1.],
       [ 0., -1., -1., ...,  0.,  0.,  1.],
       [ 0., -1., -1., ...,  0.,  1.,  1.]])

**Encoding Categorical data + Handling missing values**

We perform preprocessing on categorical features in the training by appling one-hot encoding without generating binary feature for NAN modalities and then concatenates the encoded features with the imputed numerical features. This results in processed features ready for training and evaluation of machine learning models.

In [122]:
categorical_features_train = df.select_dtypes(include='object')
# using dummy_na=False ,we perform onehot encoding without affecting data distribution
dummy_categorical_features_train = pd.get_dummies(categorical_features_train,dummy_na=False)

# Concatenate imputed numerical and categorical features Train
imputed_features_train = pd.concat([pd.DataFrame(imputed_numeric_features_train, columns=numeric_features_train.columns),
                              dummy_categorical_features_train] ,axis=1)

In [123]:
imputed_features_train

,TARGET,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,ELEVATORS_AVG,...,"WALLSMATERIAL_MODE_Stone, brick",WALLSMATERIAL_MODE_Wooden,EMERGENCYSTATE_MODE_No,EMERGENCYSTATE_MODE_Yes,credit risk_Risk,credit risk_no risk,income & installements_Risk,income & installements_no Risk,Risk_Level_No Risk,Risk_Level_Risk
0,1.0,-1.0,-1.0,-2120.0,1.0,2.0,2.0,0.0369,0.9722,0.00,...,1,0,1,0,1,0,0,1,1,0
1,0.0,-1.0,-1.0,-291.0,2.0,1.0,1.0,0.0529,0.9851,0.08,...,0,0,1,0,1,0,0,1,1,0
2,0.0,-1.0,-1.0,-2531.0,1.0,2.0,2.0,0.0763,0.9816,0.00,...,0,0,0,0,0,1,0,1,1,0
3,0.0,-1.0,-1.0,-2437.0,2.0,2.0,2.0,0.0763,0.9816,0.00,...,0,0,0,0,1,0,0,1,1,0
4,0.0,-1.0,-1.0,-3458.0,1.0,2.0,2.0,0.0763,0.9816,0.00,...,0,0,0,0,0,1,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223279,0.0,1.0,-1.0,-1475.0,2.0,2.0,2.0,0.0763,0.9816,0.00,...,0,0,0,0,1,0,0,1,1,0
223280,0.0,-1.0,-1.0,-1400.0,2.0,2.0,2.0,0.1125,0.9796,0.00,...,1,0,1,0,1,0,0,1,1,0
223281,0.0,-1.0,-1.0,-2732.0,2.0,2.0,2.0,0.0763,0.9816,0.00,...,0,0,0,0,1,0,0,1,1,0
223282,0.0,-1.0,-1.0,-4426.0,2.0,2.0,2.0,0.0763,0.9816,0.00,...,0,0,0,0,1,0,0,1,1,0
223283,0.0,-1.0,-1.0,-4301.0,1.0,1.0,1.0,0.0763,0.9816,0.00,...,0,0,0,0,1,0,0,1,0,1

In [126]:
imputed_features_train.to_csv(r"clean_data.csv")

In [128]:
df1=pd.read_csv(r"clean_data.csv")
df1.drop('Unnamed: 0',axis=1)

,TARGET,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,ELEVATORS_AVG,...,"WALLSMATERIAL_MODE_Stone, brick",WALLSMATERIAL_MODE_Wooden,EMERGENCYSTATE_MODE_No,EMERGENCYSTATE_MODE_Yes,credit risk_Risk,credit risk_no risk,income & installements_Risk,income & installements_no Risk,Risk_Level_No Risk,Risk_Level_Risk
0,1.0,-1.0,-1.0,-2120.0,1.0,2.0,2.0,0.0369,0.9722,0.00,...,1,0,1,0,1,0,0,1,1,0
1,0.0,-1.0,-1.0,-291.0,2.0,1.0,1.0,0.0529,0.9851,0.08,...,0,0,1,0,1,0,0,1,1,0
2,0.0,-1.0,-1.0,-2531.0,1.0,2.0,2.0,0.0763,0.9816,0.00,...,0,0,0,0,0,1,0,1,1,0
3,0.0,-1.0,-1.0,-2437.0,2.0,2.0,2.0,0.0763,0.9816,0.00,...,0,0,0,0,1,0,0,1,1,0
4,0.0,-1.0,-1.0,-3458.0,1.0,2.0,2.0,0.0763,0.9816,0.00,...,0,0,0,0,0,1,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223279,0.0,1.0,-1.0,-1475.0,2.0,2.0,2.0,0.0763,0.9816,0.00,...,0,0,0,0,1,0,0,1,1,0
223280,0.0,-1.0,-1.0,-1400.0,2.0,2.0,2.0,0.1125,0.9796,0.00,...,1,0,1,0,1,0,0,1,1,0
223281,0.0,-1.0,-1.0,-2732.0,2.0,2.0,2.0,0.0763,0.9816,0.00,...,0,0,0,0,1,0,0,1,1,0
223282,0.0,-1.0,-1.0,-4426.0,2.0,2.0,2.0,0.0763,0.9816,0.00,...,0,0,0,0,1,0,0,1,1,0
223283,0.0,-1.0,-1.0,-4301.0,1.0,1.0,1.0,0.0763,0.9816,0.00,...,0,0,0,0,1,0,0,1,0,1